<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		<!-- Twitter script -->
 		 <script>window.twttr = (function(d, s, id) {
 		   var js, fjs = d.getElementsByTagName(s)[0],
 		     t = window.twttr || {};
 		   if (d.getElementById(id)) return t;
  		  js = d.createElement(s);
  		  js.id = id;
  		  js.src = "https://platform.twitter.com/widgets.js";
  		  fjs.parentNode.insertBefore(js, fjs);

  		  t._e = [];
  		  t.ready = function(f) {
  		  t._e.push(f);
  		  };

    		return t;
 		 }(document, "script", "twitter-wjs"));</script>
			
		</head>
		<body>
			<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/media">Media Contact List</a></li>
	        		<!-- <li><a href="/news">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/tweetsofneets">Twitter</a></li>
				<li><a href="http://littlecanary.github.io/news/atom.xml">RSS feed</a></li>
			</ul>
			</footer>
		</body>
	</html>
